/* 导航栏模块 */
/* 一级菜单居中 */
#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    font-size: 25px !important; /* 独立于全局字体 */
      
}

/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
    display: row !important;
}

/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(5) .menus_item_child {
    left: -50px;
}



/* 背景的通明度模块 */
/* 文章页背景 */
.layout_post>#post {
    /* 以下代表透明度为0.7 可以自行修改*/
    background: rgba(255,255,255,.9);

}
 
/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表透明度为0.7 */
    background: rgba(255,255,255,.9);
    border:2px solid #0ff5ff;
    box-shadow: 1px 1px 10px #0ff5ff;
 
}
/* 侧边卡片的透明度 */
:root {
  --card-bg: rgba(255, 255, 255, .9);
}

/* 页脚透明 */
#footer {
	/* 以下代表透明度为0.7 */
	background: rgba(255,255,255, .0);
}
 

:root {
    --global-font-size: 20px;
}


.aplayer .aplayer-list ol li.aplayer-list-light, .aplayer, #aside_content .card-widget, #recent-posts>.recent-post-item, .layout>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* ä»¥ä¸‹ä»£è¡¨ç™½è‰²é€æ˜Žåº¦ä¸º0.3 */
    background: rgba(255, 255, 255, 0.9);
    border:2px solid #0ff5ff;
    box-shadow: 1px 1px 10px #0ff5ff;
}






  
 .recent-post-item{

    background: rgba(255, 255, 255, 0.9);
    border:2px solid #0ff5ff;
    box-shadow: 1px 1px 10px #0fffc3;
}
